@charset "utf-8";
body{
     background: rgba(128, 128, 128, 0.239);
}
@font-face {
     font-family: 'fonte-cabecalho' ;
     src: url(../_fonts/BebasNeue-Regular.ttf) format('opentype');
}

         /*Formatação de Interface*/

#Div-top{
width: 100%;
background:#09e652de;
padding-bottom: 400px;
box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.712);
}

#cabecalho{
position:absolute;
left:30px;
font-family:'fonte-cabecalho';
font-size: 5em;
color:#6B50A1;
}

div#interface{
width: 600px;
position:absolute;
top:80px;
background:white;
left:700px;
border-radius: 5px;
border: 3px solid black;
padding:3px 3px 10px 10px;
box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.596);
}
          /*Formatação Buttons*/
nav#buttons input{
position:relative;
left:70%;
top:-20px;
transition: background-color 1s;
}
nav#buttons input:hover{
background: purple;
color: white;
}
          /*Formatação roda-pè*/
footer#rodaPe{
position:relative;
top:30px;
border-top:2px solid black;
}
          /*Formatação IMG da Esquerda*/
#imgEsquerda{
width: 500px;
position:absolute;
right:850px;
top:150px;
}